ul{
    list-style:none;
}

li > b, li > span{
/*float 在一定情况下相当于display:block*/
    display: block;
    float: left;
    width: 100px;
}

li > span {

    width: 500px;
    margin-left:20px;
}

li > span[contenteditable]:hover{

    background-color: #ffc;
}

li > span[contenteditable]:focus{
    background-color: #ffa;
    border: 1px shaded #000;
}

li{
    clear: left;
}