input[required]:invalid,input[pattern]:invalid{

    border-color: #A5340B;
}
input[required]:valid,input[pattern]:valid{
    border-color: #0B9900;
}

label{
    float: left;
    width: 150px;
}

ol{
    list-style: none;
    margin: 0;
    padding:0;
}

ol li{

    clear: both;
    margin:0 0 10px 0;
}